@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

.sheet-wrap {
	min-width: 870px;
	margin: 0px -10px 0px -10px;
	font-family: 'Overpass', Arial;
}


button[type=roll].sheet-button {
    font: inherit;
    color: inherit;
    font-family: inherit!important;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    text-align: initial; 
    text-shadow: initial;
    vertical-align: initial; 
    line-height: normal;
    white-space: normal;
    box-shadow: none;
    text-transform: none;
    background-image: none;
    -webkit-appearance: none;
    border: 0;
    padding: 0;
    outline: 0;
    border-radius: 0;
    margin: 0!important;
    background-color: transparent;
}

button[type=roll].sheet-button::-moz-focus-inner {
    border: 0;
    padding: 0;
    border-style: none;
}

button[type=roll].sheet-button:before {
	content: ''!important;
	font-family: inherit!important;
}

button[type=roll].sheet-button:hover {
	color: #3f88e6!important;
}

button[type=roll].sheet-button:active {
    border: 0;
    outline: 0;
    box-shadow: none;
}

button[type=roll].sheet-button {
    display: table;
}

span.sheet-button {
    display: table-cell;
    background: rgba(175, 80, 76, 0.3);
}
span.sheet-clipped {
    max-width: 100px;
    max-height:100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
span.sheet-wraparound {
    max-width: 100px;
    max-height:100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sheet-left { text-align: left;}
.sheet-center { text-align: center;}
.sheet-right { text-align: right;}
.sheet-top { vertical-align: top;}
.sheet-middle { vertical-align: middle;}
.sheet-bottom { vertical-align: bottom;}
.sheet-small { font-size: 8px;}
.sheet-regular { font-size: 12px;}
.sheet-medium { font-size: 16px;}
.sheet-large { font-size: 24px;}
.sheet-huge { font-size: 32px;}
.sheet-condensed { letter-spacing: -3px; }
.sheet-bold { font-weight: bold; }

